# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [35]:
import pandas as pd 
import numpy as np 

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
df_origin = pd.read_csv(url)

#display(df_origin.columns)
df_origin.columns = [col.strip().replace(" ", "_").lower() for col in df_origin.columns]

###
# Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

df_filtered = df_origin[(df_origin["total_claim_amount"] > 1000) & (df_origin["response"] == "Yes")]

###
#Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for 
# customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

df = df_origin[df_origin["response"] == "Yes" ][["total_claim_amount","response","policy_type","gender"]].round(2).copy()

pivot_df = df.pivot_table(index='policy_type', columns='gender', values=['total_claim_amount'], aggfunc='mean').round(2)

display(pivot_df)
# data show's special auto and personal autos have higher claim amounts, with special autos being the top ranker for females and personal autos for males.

### Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

df2_count = df_origin.groupby("state")["policy_type"].count()
df2 = df2_count[df2_count > 500]
display(df2)
# California has the maximum clients 3552 with Oregon short behind (2909). Washington is the lowest with only 888 customers.

### Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

df3 = df_origin.groupby(["education","gender"])["customer_lifetime_value"].agg(['max', 'min', 'mean']).round(2)
display(df3)

# first there's a big dispersion of data. Maximum and minimum values show sometimes over 50x the range. Master education seem to show lower dispersion.
# For most educational levels, females show higher max values (except for HS and below). 
# except for master and college, there's a big gap between genders for max/min values.

               total_claim_amount
gender                          F       M
policy_type
Corporate Auto             433.74  408.58
Personal Auto              452.97  457.01
Special Auto               453.28  429.53

state
Arizona       1937
California    3552
Nevada         993
Oregon        2909
Washington     888
Name: policy_type, dtype: int64

                                  max      min     mean
education            gender
Bachelor             F       73225.96  1904.00  7874.27
                     M       67907.27  1898.01  7703.60
College              F       61850.19  1898.68  7748.82
                     M       61134.68  1918.12  8052.46
Doctor               F       44856.11  2395.57  7328.51
                     M       32677.34  2267.60  7415.33
High School or Below F       55277.45  2144.92  8675.22
                     M       83325.38  1940.98  8149.69
Master               F       51016.07  2417.78  8157.05
                     M       50568.26  2272.31  8168.83

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9